# Environment files
.env
.env.local

# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
*.apk
*.aab

# macOS
.DS_Store
*.pem

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
.pnpm-debug.log*
lerna-debug.log*

# IDE
.idea
.vscode
*.swp
*.swo
*~

# Backup files
*.bak
*.backup
*.tmp

# Git artifacts
.git/index.lock

# TypeScript build artifacts
tsconfig.tsbuildinfo
